.profile__name {
    color: white;
    font-weight: 500;
    font-size: 42px;
    line-height: 114%;
    margin: 0;
    padding: 0 18px 0 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 330px;
}

@media screen and (max-width: 683px) {

    .profile__name {
        font-size: 27px;
        line-height: 33px;
        text-align: center;
        max-width: 230px;
    }
}