.button-add {
    background-image: url("../../images/button-add.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 22px;
    border: 2px solid #FFFFFF;
    min-height: 50px;
    transition: opacity .2s linear;
    border-radius: 2px;
}

.button-add:hover {
    opacity: 0.6;
}

@media screen and (max-width: 683px) {
    .button-add {
        width: 282px;
        background-size: 16px;
    }
}