.profile__status {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: white;
    margin: 0;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 300px;
}


@media screen and (max-width: 683px) {

    .profile__status {
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        padding-bottom: 32px;
        padding-left: 12px;
        max-width: 200px;
    }
}