.button__save {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: white;
    background-color: black;
    height: 50px;
    border-radius: 2px;
    width: 100%;
    transition: opacity .2s linear;
}

.button__save:hover {
    opacity: 0.8;
}

@media screen and (max-width: 600px) {
    .button__save {
        font-size: 14px;
        line-height: 17px;
        height: 46px;
    }
}