.button-avatar {
    width: 120px;
    height: 120px;

    border-radius: 100px;


    position: absolute;
    left: 0;

    background-color: rgba(0, 0, 0, 0.8);
    border: none;
    cursor: pointer;
    transition: opacity .2s linear;
    opacity: 0;
}


.button-avatar:hover {
    opacity: 1;
}