.button-trash {
    background-image: url(../../images/button-trash.svg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 18px;
    height: 19px;
    transition: opacity .2s linear;
}

.button-trash:hover {
    opacity: 0.6;
}